# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual env
venv/
.venv/

# Qt
*.autosave
*.pro.user

# Build
build/
dist/

# Cache
cache/
temp/

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.tar.gz
*.zip

logs/*.log

__pycache__/
*.pyc

.venv/

cache/

temp/error.log
error.log
*.bak
crash.log
blad.txt
